{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - вся музыка и обработки из игры, Rob Hubbard, Marcel Donne, Endika, ZX Spectrum, Amstard CPC, Commodore C64, IBM PC, послушать, скачать, звук, ремикс, ремейк, remix" %}
{% set footer_note = "Вся музыка Saboteur 2. Слушай и наслаждайся как оригинальными версиями так и ремейками." %}

{% block content %}
<article>
    <h1>Музыка из Saboteur 2</h1>

Роб Хуббард (Rob Hubbard) является создателем оригинальной композиции в Saboteur 2.<br>
Изначально он написал ее на компьютере Commodore C64, а для других платформ она<br>
была немного переработана исходя из музыкальных чипов, установленных на них.<br>



<img src="images/rob_hubbard1.jpg" class="bordered" alt="" />


Ниже, вы можете послушать каждую версию для конкретной игровой платформы.<br>
Все это даст вам уникальную возможность сравнить, оценить качество звучания,<br>
наборы инструментов, и полностью насладится знакомой мелодией в разных ее исполнениях.<br>
Также, ниже доступны для прослушивания интересно выполненные обработки и ремиксы на <br>
тему Saboteur 2. Старая мелодия обретает новые очертания, новый взляд на нее,<br>
новую жизнь. Слушаем и наслаждаемся.<br>

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_pc.html"><FONT face="Impact" color=#FF4500>IBM PC</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_zx48k_sp.html"><FONT face="Impact" color=#FF4500>ZX Spectrum 48k</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_zx128k_ay.html"><FONT face="Impact" color=#FF4500>ZX Spectrum 128k</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_amstrad_cpc.html"><FONT face="Impact" color=#FF4500>Amstrad CPC</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_c64.html"><FONT face="Impact" color=#FF4500>Commodore C64</a>



<font size="4"><FONT face="Arial" color=white><br>
ОБРАБОТКИ И РЕМИКСЫ



<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_rob_hubbard.html"><FONT face="Impact" color=#FF4500>Rob Hubbard</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_marcel_donne.html"><FONT face="Impact" color=#FF4500>Marcel Donne</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_marcel_donne_revisited.html"><FONT face="Impact" color=#FF4500>Marcel Donne - Revisited</a>
	


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_v2009.html"><FONT face="Impact" color=#FF4500>Saboteur 2 v2009</a>
	


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_mus_endika.html"><FONT face="Impact" color=#FF4500>Endika Fernandez - techno-mix</a>
	

</article>
{% endblock %}