{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - оружие и приемы, suriken, гаечный ключ, звездочка, перфокарта, удары, прыжки, приемы" %}
{% set footer_note = "Все оружие в Saboteur 2. Тактика эффективное использование приемов." %}

{% block content %}
    <article>
        <h1>Оружие</h1>

        <h3>Оружие, используемое Саботёром:</h3>

        <div id="weapons" class="flex-container">
            <figure>
                <img src="images/knife_held.png" alt=""/>
                <figcaption>КИНЖАЛ</figcaption>
            </figure>
    
            <figure>
                <img src="images/pipe_held.png" alt=""/>
                <figcaption>КУСОК ТРУБЫ</figcaption>
            </figure>
    
            <figure>
                <img src="images/shuriken_held.png" alt=""/>
                <figcaption>ЗВЕЗДОЧКА НИНЗЯ</figcaption>
            </figure>
    
            <figure>
                <img src="images/g_kluch_held.png" alt=""/>
                <figcaption>ГАЕЧНЫЙ КЛЮЧ</figcaption>
            </figure>
    
            <figure>
                <img src="images/steash_held.png" alt=""/>
                <figcaption>ПЕРФОКАРТА</figcaption>
            </figure>
    
            <figure>
                <img src="images/nothing_held.png" alt=""/>
                <figcaption>В РУКАХ ПУСТО</figcaption>
            </figure>
    
            <figure>
                <img src="images/nothing_near.png" alt=""/>
                <figcaption>В ЯЩИКЕ ПУСТО</figcaption>
            </figure>
    
            <figure>
                <img src="images/nothing_near2.png" alt=""/>
                <figcaption>НИЧЕГО НЕТ</figcaption>
            </figure>
        </div>

        <h3>Приемы, с помощью которых Саботёр может сражаться со своими врагами:</h3>

        <div id="moves">
            <img src="images/saboteur_stay.png" alt=""/>
            <img src="images/saboteur_hand.png" alt=""/>
            <img src="images/saboteur_leg_down.png" alt=""/>
            <img src="images/saboteur_leg_up.png" alt=""/>
            <img src="images/saboteur_sit.png" alt=""/>
            <img src="images/saboteur_leg_jump.png" alt=""/>
            <img src="images/saboteur_jump.png" alt=""/>
            <img src="images/saboteur_climb.png" alt=""/>
            <img src="images/saboteur_pull.png" alt=""/>
            <img src="images/saboteur_run.png" alt=""/>
        </div>

        <h3>Средства передвижения в Saboteur 2:</h3>

        <div id="transports" class="flex-container">
            <figure>
                <figcaption>Дельтоплан, на котором Саботёр подлетает к зданию:</figcaption>
                <img src="images/saboteur_on_deltaplan.png" alt=""/>
            </figure>
    
            <figure>
                <figcaption>Лифт, на котором Саботёр может передвигаться по этажам здания:</figcaption>
                <img src="images/saboteur_on_lift.png" alt=""/>
            </figure>
    
            <figure>
                <figcaption>Мотоцикл, на котором Саботёр уезжает через тоннель здания:</figcaption>
                <img src="images/saboteur_on_bike.png" alt=""/>
            </figure>
        </div>
    </article>
{% endblock %}