{% extends '../layout.twig' %}
{% set meta_descr = "Фантазии и домыслы об игре Saboteur 2. Размышления и догадки, мифы и реальность, много интересного." %}
{% set title = "Saboteur 2 - фантазии  об игре, домыслы, секреты, загадочные моменты, все самое любопытное." %}
{% set footer_note = "Saboteur 2 рождает Фантазии...Любопытные домыслы на эту тему." %}

{% block content %}
    <article class="mono-column">
        <h1>Фантазии</h1>

        <p>
            Дельтоплан упал на край здания....и Саботёр найдет его там.
        </p>

        <img src="images/fantasy1.png" class="bordered" alt="" width="397" height="198"/>

        <p>
            ...хмм, надпись "NINA" на первой ступени ракеты...Это сделал Саботёр?
        </p>

        <img src="images/fantasy3.png" class="bordered" alt="" width="553" height="354"/>

        <p>
            Запуск ракеты осуществлен! Она улетела....возможно вместе с Саботёром?
        </p>

        <img src="images/fantasy2.png" class="bordered" alt="" width="255" height="510"/>

    </article>
{% endblock %}