{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - все секреты и тайны, коды, бессмертие, перфокарты, ракета, тайная комната, телепорт, таймер, secrets" %}
{% set footer_note = "Saboteur 2 и его тайны. Секреты которых вы не знали." %}

{% block content %}
<article>
    <h1>Секреты</h1>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_codes.html"><FONT face="Impact" color=#FF4500>КОДЫ К УРОВНЯМ</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_room.html"><FONT face="Impact" color=#FF4500>ТАЙНАЯ КОМНАТА - БЕССМЕРТИЕ</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_teleport.html"><FONT face="Impact" color=#FF4500>ТЕЛЕПОРТ</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_infinit_perf.html"><FONT face="Impact" color=#FF4500>ЯЩИК С БЕСКОНЕЧНЫМИ ПЕРФОКАРТАМИ</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_hidden_perf.html"><FONT face="Impact" color=#FF4500>СКРЫТАЯ ПЕРФОКАРТА</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_migrate_perf.html"><FONT face="Impact" color=#FF4500>МИГРИРУЮЩАЯ ПЕРФОКАРТА</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_neisp_perf.html"><FONT face="Impact" color=#FF4500>НЕИСПОЛЬЗУЕМЫЕ ПЕРФОКАРТЫ</a>


<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_rocket.html"><FONT face="Impact" color=#FF4500>ОТЛЕТ РАКЕТЫ</a>
	

<font size="5"><A style="TEXT-DECORATION: none"  href="saboteur2_sec_timer.html"><FONT face="Impact" color=#FF4500>ОСТАНОВКА ТАЙМЕРА</a>


<font size="4"><FONT face="Arial" color=white><br>


Свои догадки, решения, поправки и дополнения Вы можете присылать сюда:<br>


    <p>
        <a href="saboteur2_contacts.html">КОНТАКТЫ</a>
    </p>
</article>
{% endblock %}