{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - история создания, автор, Clive Townsend, Durell, Saboteur!, описания, факты" %}
{% set footer_note = "История Saboteur 2. Интересные факты и все что с этим связано." %}

{% block content %}
<article>
    <h1>История</h1>




Игра Saboteur 2 увидела свет в 1987 году.<br>
Полное ее название - Saboteur II - Avenging Angel. Что в переводе означает<br>
"Диверсант 2 - Мстящий Ангел".<br>
Автор идеи и программист - Клив Таунсенд (Clive Townsend).<br>


Clive Townsend<br>


<img src="images/clive_townsend1.jpg" class="bordered" alt="" />

<font size="3"><FONT face="Arial" color=white><br>

<i>
Мистер Крутой собственной персоной, Главный Саботёр Клив Таунсенд.<br>
Видимо, где бы он ни был, Саботёр следует за ним.<br>
Что это, кому-то нравится быть Вашим собственным передвижным Фан-клубом, Клив?<br>
</i>

<font size="4"><FONT face="Arial" color=white>
Посмотрите внимательно на фото - наш Клив в фирменной майке Durell.




Издателем игры Saboteur 2 была фирма Durell Software Ltd. (UK)<br>

Вся тогдашняя команда Durell всборе: (1986 год)<br>


<img src="images/durell_team.jpg" class="bordered" alt="" />


Справа на фото мы можем наблюдать нашего любимого Клива.<br>
Кстати, он одет как всегда - черная кожанная куртка, черные очки, <br>
ну и конечно-же - майка Durell.<br>


Предшественником Saboteur 2 является первая часть игры - Saboteur!




Saboteur! (1986)<br>

<img src="images/sab1_1.jpg" class="bordered" alt="" />

<img src="images/sab1_2.jpg" class="bordered" alt="" />
<img src="images/sab1_3.jpg" class="bordered" alt="" />




</article>
{% endblock %}