{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - панель управления в игре, расшифровка сообщений, жизнь, таймер, оружие, перфокарты, содержимое" %}
{% set footer_note = "Описание панели в игре Saboteur 2. Расшифровка получаемых сообщений." %}

{% block content %}
    <article id="article-panel">
        <h1>Панель управления и сообщения.</h1>
        <h2>
            Описание панели управления
        </h2>
        (будет описано позже)
        <img src="images/panel.jpg" alt="Изображение панели состояния из игры"/>

        <h2>
            Расшифровка сообщений
        </h2>

        <ul>
            <li>
                <img src="images/sms_stash_searched.jpg" class="bordered" alt=""/>
                    <h3>"Копание в мусоре"</h3>
                <p>
                    Это сообщение появляется когда вы НЕОДНОКРАТНО перебираете содержимое ящиков, на предмет поиска
                    чего-либо. Бесцельный перебор предметов.
                </p>
            </li>

            <li>
                <img src="images/sms_lift_is_up.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Лифт находится вверху"</h3>
                    Это сообщение появляется когда вы управляете с терминала лифтом. В данном случае лифт вызван наверх.
                </p>
            </li>

            <li>
                <img src="images/sms_lift_is_down.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Лифт находится внизу"</h3>
                    Это сообщение также появляется когда вы управляете с терминала лифтом. В данном случае лифт
                    направлен вниз.
                </p>
            </li>

            <li>
                <img src="images/sms_fence_is_on.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Заграждение включено"</h3>
                    Это сообщение появляется когда вы управляете с терминала заграждением. В данном случае заграждение
                    под напряжением.
                </p>
            </li>

            <li>
                <img src="images/sms_fence_is_off.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Заграждение выключено"</h3>
                    Это сообщение также появляется когда вы управляете с терминала заграждением. В данном случае
                    заграждение обесточено.
                </p>
            </li>

            <li>
                <img src="images/sms_code_needed.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Требуется программа"</h3>
                    Это сообщение появляется когда вы управляете с терминала загрузкой перфокарт для корректировки
                    курса ракеты. В данном случае терминал выдает сообщение о том, что ему требуются перфокарты.
                </p>
            </li>

            <li>
                <img src="images/sms_code_accepted.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Программа принята"</h3>
                    Это сообщение появляется когда вы управляете с терминала загрузкой перфокарт для корректировки
                    курса ракеты. В данном случае терминал выдает сообщение о том, что он успешно принял коды с перфокарт.
                </p>
            </li>

            <li>
                <img src="images/sms_code_rejected.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Программа отклонена"</h3>
                    Это сообщение появляется когда вы управляете с терминала загрузкой перфокарт для корректировки
                    курса ракеты. В данном случае терминал выдает сообщение о том, что программа не принята.
                    Это может быть вызвано только тем, что вы загружаете МЕНЬШЕЕ, чем требуется, количество перфокарт.
                    Соберите требуемое по заданию миссии количество и повторите попытку.
                </p>
            </li>

            <li>
                <img src="images/sms_bike_arrived.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Мотоцикл прибыл"</h3>
                    Это сообщение появляется когда вы, двигаясь по зданию, оказываетесь НИЖЕ этажа "J".
                    А точнее, когда оказываешься на уровне "I". Тогда данное сообщение подсказывает вам, что нужно идти
                    к мотоциклу.
                </p>
            </li>

            <li>
                <img src="images/sms_time_is_short.jpg" class="bordered" alt=""/>
                <p>
                    <h3>"Мало времени"</h3>
                    Это сообщение появляется когда количество времени, отведенное на выполнение миссии, становится
                    меньше чем 100 единиц. А именно 99.
                    В данном случае терминал выдает сообщение, что времени на выполнение миссии осталось мало, и
                    следует поторопиться.
                </p>
            </li>
        </ul>
    </article>
{% endblock %}