{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - все об игре, коды, карты, секреты, прохождения, описания, подсказки" %}
{% set footer_note = "Saboteur 2 - все об игре - Saboteur II - Avenging Angel - лучшая игра - Saboteur2" %}

{% block content %}
<article>
    <h1>Saboteur 2 - Avenging Angel</h1>
    <img src="images/sab2_zx1.jpg" alt="Game splash screen">

    <p>
        <a href="saboteur2_contacts.html">КОНТАКТЫ</a>
    </p>
</article>
{% endblock %}