{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - все секреты и тайны, коды, бессмертие, перфокарты, ракета, тайная комната, телепорт, таймер, secrets" %}
{% set footer_note = "Saboteur 2 и его тайны. Секреты которых вы не знали." %}

{% block content %}
    <article>
        <h1>Секреты</h1>

        <a href="saboteur2_sec_codes.html">КОДЫ К УРОВНЯМ</a>

        <a href="saboteur2_sec_room.html">ТАЙНАЯ КОМНАТА - БЕССМЕРТИЕ</a>

        <a href="saboteur2_sec_teleport.html">ТЕЛЕПОРТ</a>

        <a href="saboteur2_sec_infinit_perf.html">ЯЩИК С БЕСКОНЕЧНЫМИ ПЕРФОКАРТАМИ</a>

        <a href="saboteur2_sec_hidden_perf.html">СКРЫТАЯ ПЕРФОКАРТА</a>

        <a href="saboteur2_sec_migrate_perf.html">МИГРИРУЮЩАЯ ПЕРФОКАРТА</a>

        <a href="saboteur2_sec_neisp_perf.html">НЕИСПОЛЬЗУЕМЫЕ ПЕРФОКАРТЫ</a>

        <a href="saboteur2_sec_rocket.html">ОТЛЕТ РАКЕТЫ</a>

        <a href="saboteur2_sec_timer.html">ОСТАНОВКА ТАЙМЕРА</a>

        <p>
            Свои догадки, решения, поправки и дополнения Вы можете присылать сюда:
        </p>

        <p>
            <a href="saboteur2_contacts.html">КОНТАКТЫ</a>
        </p>
    </article>
{% endblock %}