{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - враги, андроид, охранник, пума, android, guard, puma, описания" %}
{% set footer_note = "Saboteur 2 и его враги. Узнай кто они прежде чем они достанут тебя." %}

{% block content %}
    <article>
        <h1>Враги</h1>
        <h3>Андроид охранник</h3>
        <img src="images/android_stay.jpg" alt="Андроид стоит">
        <img src="images/android_leg.jpg" alt="Андроид пинает">
        <img src="images/android_gun.jpg" alt="Андроид стреляет">
        <img src="images/android_flames.gif" alt="Андроид испускает пламя">

        <h3>Пума</h3>
        <img src="images/puma.jpg" alt="Пума">

        <h3>Летучая мышь</h3>
        <img src="images/flying_bat.jpg" alt="Летучая мышь">

    </article>
{% endblock %}