{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - звук загрузки с кассеты, магнитофон, спектрум, послушать, ностальгия" %}
{% set footer_note = "Послушай как грузится Saboteur 2 с кассеты. Ностальгия в самом чистом виде." %}
{% set page_menu_item = 'index.html' %}

{% block content %}
    <article id="article-facts" class="mono-column">
        <h1>Звук загрузки Saboteur 2 с кассеты!</h1>

        <audio controls="controls">
            <source src="audio/sab2_tape.ogg" type="audio/ogg">
            <source src="audio/sab2_tape.mp3" type="audio/mp3">
            <p>
                Обновите браузер, или используйте браузер совместимый с HTML5, чтобы прослушать музыку. Также вы можете
                скачать звуковой файл <a href="audio/sab2_tape.ogg">OGG</a> либо <a href="audio/sab2_tape.mp3">MP3</a>
                и использовать ваш системный плеер.
            </p>

            <object type="application/x-shockwave-flash" data="audio/mp3play.swf" height="0" width="0">
                <param name="wmode" value="transparent"/>
                <param name="allowFullScreen" value="true"/>
                <param name="allowScriptAccess" value="false"/>
                <param name="movie" value="audio/mp3play.swf"/>
                <param name="FlashVars" value="way=audio/sab2_tape.mp3&amp;swf=audio/mp3play.swf&amp;w=0&amp;h=0&amp;time_seconds=0&amp;autoplay=1&amp;q=1&amp;skin=black&amp;volume=100&amp;comment="/>
            </object>
        </audio>

        <img src="images/sab2_cass.png" alt="" width="600" height="450"/>
        <p>
            Кстати, это та самая "Blue Cassette" (Синяя Кассета), о которой так много говориться при загрузке игры на 
            следующем экране после заставки:
        </p>

        <img src="images/reward.png" alt="" width="592" height="439"/>

        <p>
            Если дословно, то фирма Durell обещает БЕСПЛАТНО обменять Вашу поддельную копию игры на фирменную, и, 
            вдобавок, за информаци о том, где и у кого Вы приобрели подделку - дать Вам 100 фунтов-стерлингов в виде 
            награды за это.
        </p>

        <p>
            <a href="saboteur2_secret.html">НАЗАД</a>
        </p>
    </article>
{% endblock %}