{% extends '../layout-subpages-mus.twig' %}
{% set audiofile = 'sab2_v2009.ogg' %}

{% block content %}
<img src="images/john_mcklain.jpg" class="bordered left" alt="" />
<p>
    Музыка от John McKlain<br>
    Saboteur 2 - v2009
</p>
{% endblock %}