{% extends '../layout-subpages-mus.twig' %}
{% set audiofile = 'sab2_hubbard' %}

{% block content %}
    <img src="images/rob_hubbard_1.jpg" class="bordered left" alt="" width="579" height="443"/>
    <p>
        Обработка самого Роба Хуббарда (Rob hubbard).<br>
        Создана на Commodore C64<br>
        Сделано довольно-таки занятно. Слушаем.
    </p>
{% endblock %}