{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - пресса об игре, review, preview, описания, журналы, Crash, Your Sinclair, YS Smash, Sinclair User, Comp & Video Games, Micro Hobby" %}
{% set footer_note = "Журналы о игре Saboteur 2. Все самое интересное в прессе." %}

{% block content %}
<article>
    <h1>Пресса о Saboteur 2</h1>


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 09/1986

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash3200096.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 10/1986

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash3300136.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 06/1987

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash4100050.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 06/1987

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash4100103.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 07/1987

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash4200052.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, 07/1988

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash5400037.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Crash, christmas special 1988

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_Crash5900060.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Your Sinclair 

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_YourSinclair1700089.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Comp & Video Games

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_CVG06900027.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал MicroHobby

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_MicroHobby13200014-15.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал MicroHobby

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_MicroHobby13300024.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал MicroHobby

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_MicroHobby14000028.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал MicroHobby

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_MicroHobby16600070.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал MicroHobby

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_MicroHobby16900069.jpg" class="bordered" alt="" />


<font size="4"><FONT face="Arial" color=white>
Журнал Compter Gamer

<font size="4"><FONT face="Arial" color=red>
<img src="images/statya_ComputerGamer2500045.jpg" class="bordered" alt="" />



</article>
{% endblock %}