{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - вся музыка и обработки из игры, Rob Hubbard, Marcel Donne, Endika, ZX Spectrum, Amstard CPC, Commodore C64, IBM PC, послушать, скачать, звук, ремикс, ремейк, remix" %}
{% set footer_note = "Вся музыка Saboteur 2. Слушай и наслаждайся как оригинальными версиями так и ремейками." %}

{% block content %}
    <article>
        <h1>Музыка из Saboteur 2</h1>

        <p>
            Роб Хуббард (Rob Hubbard) является создателем оригинальной композиции в Saboteur 2.<br>
            Изначально он написал ее на компьютере Commodore C64, а для других платформ она была немного переработана 
            исходя из музыкальных чипов, установленных на них.
        </p>

        <img src="images/rob_hubbard1.jpg" class="bordered" alt=""/>

        <p>
            Ниже, вы можете послушать каждую версию для конкретной игровой платформы.<br>
            Все это даст вам уникальную возможность сравнить, оценить качество звучания, наборы инструментов, и 
            полностью насладится знакомой мелодией в разных ее исполнениях. Также, ниже доступны для прослушивания 
            интересно выполненные обработки и ремиксы на тему Saboteur 2. Старая мелодия обретает новые очертания, 
            новый взляд на нее, новую жизнь. Слушаем и наслаждаемся.
        </p>
    </article>
{% endblock %}