{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - оружие и приемы, suriken, гаечный ключ, звездочка, перфокарта, удары, прыжки, приемы" %}
{% set footer_note = "Все оружие в Saboteur 2. Тактика эффективное использование приемов." %}

{% block content %}
<article>
    <h1>Оружие</h1>


Оружие, используемое Саботёром:


<img src="images/knife_held.jpg" alt="" />
КИНЖАЛ<br>

<img src="images/pipe_held.jpg" alt="" />
КУСОК ТРУБЫ<br>

<img src="images/shuriken_held.jpg" alt="" />
ЗВЕЗДОЧКА НИНЗЯ<br>

<img src="images/g_kluch_held.jpg" alt="" />
ГАЕЧНЫЙ КЛЮЧ<br>

<img src="images/steash_held.jpg" alt="" />
ПЕРФОКАРТА<br>


<img src="images/nothing_held.jpg" alt="" />
В РУКАХ ПУСТО

<img src="images/nothing_near.jpg" alt="" />
В ЯЩИКЕ ПУСТО

<img src="images/nothing_near2.jpg" alt="" />
НИЧЕГО НЕТ


<center>

Приемы, с помощью которых Саботёр может сражаться со своими врагами:<br>


<img src="images/saboteur_stay.jpg" alt="" />

<img src="images/saboteur_hand.jpg" alt="" />

<img src="images/saboteur_leg_down.jpg" alt="" />

<img src="images/saboteur_leg_up.jpg" alt="" />

<img src="images/saboteur_sit.jpg" alt="" />

<img src="images/saboteur_leg_jump.jpg" alt="" />

<img src="images/saboteur_jump.jpg" alt="" />

<img src="images/saboteur_climb.jpg" alt="" />

<img src="images/saboteur_pull.jpg" alt="" />

<img src="images/saboteur_run.jpg" alt="" />




Средства передвижения в Saboteur 2:


Дельтоплан, на котором Саботёр подлетает к зданию:<br>

<img src="images/saboteur_on_deltaplan.jpg" alt="" />


Лифт, на котором Саботёр может передвигаться по этажам здания:<br>

<img src="images/saboteur_on_lift.jpg" alt="" />



Мотоцикл, на котором Саботёр уезжает через тоннель здания:<br>

<img src="images/saboteur_on_bike.jpg" alt="" />







</article>
{% endblock %}