{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - фантазии  об игре, домыслы, секреты, загадочные моменты, все самое любопытное." %}
{% set footer_note = "Saboteur 2 рождает Фантазии...Любопытные домыслы на эту тему." %}

{% block content %}
    <article class="mono-column">
        <h1>Фантазии</h1>

        <p>
            Дельтоплан упал на край здания....и Саботёр найдет его там.
        </p>

        <img src="images/fantasy1.jpg" class="bordered" alt=""/>

        <p>
            ...хмм, надпись "NINA" на первой ступени ракеты...Это сделал Саботёр?
        </p>

        <img src="images/fantasy3.jpg" class="bordered" alt=""/>

        <p>
            Запуск ракеты осуществлен! Она улетела....возможно вместе с Саботёром?
        </p>

        <img src="images/fantasy2.jpg" class="bordered" alt=""/>

    </article>
{% endblock %}