{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - тактика и прохождение, коды, карты, секреты, описания, подсказки и многое другое" %}
{% set footer_note = "Тактика к игре Saboteur 2. Подробное прохождение." %}

{% block content %}
<article>
    <h1>Тактика и прохождение</h1>
<font size=5><font color=#FFB90F>
Препятствие "Ездилка"<br>
<br><font size=4><font color=white>


<img src="images/ezdilkas.gif" class="bordered" alt="" />


Чтобы успешно преодолеть это препятствие, необходимо, точно расчитав, начать бежать<br>
"вместе" с подвижным блином.<br>
Ниже показано как это делать:<br>


<img src="images/sab_on_ezdilka.jpg" class="bordered" alt="" />




<font size=5><font color=#FFB90F>
Препятствие "Обманный пол"<br>
<br><font size=4><font color=white>

Эти, на первый взгляд безобидные "вставки" в полу на самом деле не что иное как дыры.<br>
Если наступить на них - то провалишся на этаж ниже. Это может как отнять жизнь так и забрать
драгоценное время на лишние действия, чтобы снова подняться на этаж.


<img src="images/dyrka1.jpg" class="bordered" alt="" />


Просто перепрыгивайте их - и все.


<img src="images/dyrka2.jpg" class="bordered" alt="" />


Кстати, иногда эти отверстия в полу могут и пригодиться - например, если надо попасть
на этаж ниже, а до лестницы бежать не хочется, или на это мало времени.


</article>
{% endblock %}