{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - интересные факты, фотографии, скриншоты, секреты, описания, подсказки и тайны" %}
{% set footer_note = "Все факты и мифы Saboteur 2. Узнай больше." %}

{% block content %}
<article>
    <h1>Интересные факты</h1>


<font size=5><font color=#FFB90F>
Добавочная комната<br>
<br><font size=4><font color=white>
В самой первой версии игры, (видимо это была еще тестовая версия перед<br>
выходом официальной), комнаты, где располагается ракета, имеют немного<br>
другую конфигурацию, нежели чем в конечной версии игры. На картинке ниже <br>
Вы можете увидеть, что там справа есть подход к ракете, в то время, как<br>
на оригинальной версии игры - ее нет.<br>


<img src="images/facts1.jpg" class="bordered" alt="" /><br>


<font size=5><font color=#FFB90F>
Полетит, не полетит?<br>
<br><font size=4><font color=white>
Посмотрите внимательно на потолок комнаты с ракетой - он РАЗДВИЖНОЙ!<br>
Да-да, это напоминает раздвижной потолок из Saboteur! (первая часть игры Saboteur 2),<br>
где наш Нинзя улетал на вертолете. И, если это так, и потолок действительно<br>
был раздвижной (а это так - видно четко) - получается что ОТЛЕТ РАКЕТЫ - это <br>
не миф - а РЕАЛЬНОСТЬ...есть над чем подумать...<br>



<font size=5><font color=#FFB90F>
Кто ты, Nina ?<br>
<br><font size=4><font color=white>
Еще один интересный факт, который может заинтересовать - это надпись "NINA",<br>
на верхней части (ступени) ракеты. Вы можете видеть это сами<br>


<img src="images/facts1-2.jpg" class="bordered" alt="" />


Предположительно, NINA (Нина) - имя нашей Нинзя. В описаниях этой игры говорится<br>
именно о Нине, правда, кроме как в версии на PC и Commodore - там<br>
ее зовут Necra. Но, думаю, можно смело полагать что именно НИНА - имя нашей героини.<br>
(По крайней мере в версии для ZX Spectrum)<br>
В доказательство - смотрите титры игры в разделе High Scores:<br>


<img src="images/facts-hscores.jpg" class="bordered" alt="" />


Рядом с CLIVE (Clive Townsend - создатель Saboteur 2), прямо под ним - имя некой<br>
Nina Jane. Разработчик не случайно занес это имя туда. Возможно, эта Nina,<br>
указанная в Hign Scores - его подруга или жена. Или, к примеру, это очень близкий<br>
его бета-тестер игры...Такие предположения можно делать исходя именно из того,<br>
что Клив, разработчик игры, поместил Нину именно СРАЗУ после себя!<br>
Возможно, это Нина оставила свой автограф на ракете, или, это прямое указание<br>
на то, что наша Нинзя должна или может на ней улететь....<br>
Есть над чем подумать....<br>



<br><font size=5><font color=#FFB90F>
А могли-бы быть собаки...<br>
<br><font size=4><font color=white>
Ниже показан кадр из опять-же пред-релизной (тестовой) версии Saboteur 2, где<br>
мы можем увидеть, что изначально вместо Кошек (Puma) должны были быть...<br>
...СОБАКИ <br>


<img src="images/facts2.jpg" class="bordered" alt="" />


Собака хорошо видна на этой картинке. Видимо разработчики хотели перенести<br>
собак из первого Саботёра (Saboteur!) но потом передумали, и сделали другой<br>
вид четвероногих врагов, что и очень хорошо. Пумы как нельзя лучше вписались<br>
в новую часть игры. И более того, придали еще более таинственный вид локациям<br>
второго Saboteur.<br>



<br><font size=5><font color=#FFB90F>
"Глюк" с лифтом<br>
<br><font size=4><font color=white>
В игре наблюдается очень интересный глюк. Если, при отправлении на лифте ВНИЗ, встать<br>
не на сам подвижной блин, а рядом, СПРАВА от него (на ПРАВУЮ часть шахты) -<br>

<img src="images/lift_gluk1.jpg" class="bordered" alt="" /><br>

то мы сможем поехать вниз, как обычно, стоя на лифтовом блине, но двигаться будем не<br>
по направляющей лифтовой шахты а СКВОЗЬ нее - причем ДАЖЕ если сам лифт внизу!<br>
Ниже показано как вызвать этот глюк и что в итоге получится:<br>

<img src="images/lift_gluk2.jpg" class="bordered" alt="" /><br>

Что еще интересно, поехать ВВЕРХ при этом уже не получиться. Только вниз.<br>

<img src="images/lift_gluk3.jpg" class="bordered" alt="" /><br>

Но зато можно СПРЫГНУТЬ в шахту:<br>

<img src="images/lift_gluk4.jpg" class="bordered" alt="" /><br>





Самое любопытное то, что эта "ошибка" (или нет?) видимо принципиально сохранена и на<br>
других платформах, для которой был сделан Saboteur 2. А именно - на Amstrad и на PC.<br>
Почему ее не исправили? Причем даже в версиях игры, которые были переизданы позже?<br>
Очень странно...<br>
Что касаемо версий для Commodore - то там этой ошибки нет, но это связано лишь с тем, что для <br>
данной платформы игра была написана совсем по-другому, в той версии нет даже "тайной комнаты"...<br>



<br><font size=5><font color=#FFB90F>
"Странный" андроид<br>
<br><font size=4><font color=white>


<img src="images/android_gluks.gif" class="bordered" alt="" /><br>


(будет описано позже)



</article>
{% endblock %}