{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - релизы игры, официальные, неофициальные, издания, диск, кассета, версия" %}
{% set footer_note = "Релизы Saboteur 2. Сравни все издания игры." %}

{% block content %}
<article>
    <h1>Релизы Saboteur 2</h1>


Saboteur 2 официально был издан для 4-ех платформ :<br>
ZX-Spectrum, Amstrad CPC, Commodore C64 и IBM PC.<br>

Если первые два компьютера имели большее распространение в Европе,<br>
то две другие - в США. Соответственно, издателем для этих двух платформ<br>
была фирма Keypunch Software, Inc. У нее было лецинзионное соглашение с Durell.<br>

Также, некая группа программистов под названием Muffbusters (MB) из Венгрии<br>
во главе с M.Peter сделала так называемый порт Saboteur 2 с Commodore C64<br>
на Commodore Plus/4. Это неофициальный релиз, что впрочем не мешало игре<br>
прекрасно работать и на этой платформе.<br>

Первое издание игры было в 1987 году, как я уже и говорил ранее.<br>
Последующим переизданием по лицензии Durell занимались фирмы:<br>
Edos (UK), Erbe Software S.A. (Spain) и  Encore (UK).<br>
На IBM PC и Commodore C64 переизданий не было. Они издавались<br>
Keypunch Software, Ltd. по лицензии Durell, вплоть до 1993 года.<br>

Ниже Вы можете посмотреть как выглядел Saboteur 2 на разных платформах:




ZX Spectrum<br>

<img src="images/release_zx_spectrum_cass.jpg" alt="" />


<img src="images/sab2_zx1.jpg" class="bordered" alt="" />
<img src="images/sab2_zx2.jpg" class="bordered" alt="" />

<img src="images/sab2_zx3.jpg" class="bordered" alt="" />
<img src="images/sab2_zx4.jpg" class="bordered" alt="" />




IBM PC<br>

<img src="images/release_ibm_pc_disk.jpg" alt="" />


<img src="images/sab2_pc1.jpg" class="bordered" alt="" />
<img src="images/sab2_pc2.jpg" class="bordered" alt="" />

<img src="images/sab2_pc3.jpg" class="bordered" alt="" />
<img src="images/sab2_pc4.jpg" class="bordered" alt="" />




Amstrad CPC<br>

<img src="images/release_cpc_disk.jpg" alt="" />


<img src="images/sab2_cpc1.jpg" class="bordered" alt="" />
<img src="images/sab2_cpc2.jpg" class="bordered" alt="" />

<img src="images/sab2_cpc3.jpg" class="bordered" alt="" />
<img src="images/sab2_cpc4.jpg" class="bordered" alt="" />





Commodore C64<br>

<img src="images/release_c64_disk.jpg" alt="" />


<img src="images/sab2_c641.jpg" class="bordered" alt="" />
<img src="images/sab2_c642.jpg" class="bordered" alt="" />

<img src="images/sab2_c643.jpg" class="bordered" alt="" />
<img src="images/sab2_c644.jpg" class="bordered" alt="" />





Commodore Plus/4<br>

<img src="images/sab2_cplus41.jpg" class="bordered" alt="" />
<img src="images/sab2_cplus42.jpg" class="bordered" alt="" />



</article>
{% endblock %}