{% extends '../layout.twig' %}
{% set title = "Saboteur 2 - общение об игре, ищем секреты, делимся мыслями, догадками, написать письмо, пишите." %}
{% set footer_note = "Давайте общаться на тему Saboteur 2. Свои догадки, мысли и пожелания присылайте сюда." %}

{% block content %}
    <article>
        <h1>Контакты</h1>

        <p>Все вопросы, дополнения и пожелания, пишите сюда:</p>
        <img src="images/email3.png" alt="Конверт" width="398" height="267">

    </article>
{% endblock %}