<div id="diclaimer">
    <div id="corner">
    </div>
    <div id="hover-container">
        <div id="trap">
            <div id="anchor">[!]</div>
            <div id="popup"> TEST TEST TEST </div>
        </div>
    </div>
</div>