{# Header section of pages - logo and main navigation #}

{# detect the output file of the context - bit hackish #}

<header>
    <a href="index.html" id="header-logo">
        <img src="images/banner.png" alt="Saboteur 2 in custom font" width="640" height="125">
    </a>
    <nav>
        <ul>
            {% for page in top_pages %}
                {% set highlight = (_context['_target']['relative'] == page.url) or (page_menu_item == page.url) %}
                <li>
                    <a href="{{ page.url|e }}"{% if highlight %} class="current"{% endif %}>
                        {{ page.name|e }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <hr>
</header>
