ul#navigation li {display: inline-block;}

/* undo the shit magix */
header a#header-logo {
    position: static;
}
header a#header-logo img {
    margin-left: 0;
    min-width: unset;
}

.flex-container > figure,
.flex-container > li {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
}

article#article-secrets li {
    margin: 1em;
}

div#disclaimer-message {
    width: 95%;
}

.ie8 header a#header-logo img {
    max-height: 125px;
    min-height: 78px;
}

.ie8down div#disclaimer div#popup {
    background: #24708D;
    opacity: .9; /* other browsers  and IE9+ */
    filter: alpha(opacity=90); /* IE6+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
}

.ie8down body.subpage img.left {
    width: 50%;
}

.ie8down body.subpage .player {
    height: auto;
    margin: 0;
}

html.ie7down.subpage {
    overflow: hidden;
}

.ie7down h1, .ie7down h2, .ie7down h3 {
    font-weight: normal;
}

.ie7down ul#navigation li {display: inline;}

.ie6down div#disclaimer {
    position: relative;
    font-size: 5em;
    height: auto;

    text-align: left;
    width: 100%;
}

.ie6down div#disclaimer div#corner {
    border-top: 0.5em solid rgb(36, 112, 141);
    border-bottom: 0.5em solid rgb(36, 112, 141);
    position: absolute; /* makes z-index applicable to this */
    top: 0.1em;
    line-height: 0;
}

.ie6down div#disclaimer div#anchor {
    /* putting this over #corner */
    position: absolute;
    top: 0.2em;
}

.ie6down div#disclaimer div#popup {
    visibility: visible;
}
.ie6down header a#header-logo img {
    width: 640px;
}
.ie6down body.subpage img {
    height: inherit;
}