<!DOCTYPE html>
<!--[if IE 8 ]> <html class="no-js ie8 ie8down"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7 ie7down"> <![endif]-->
<!--[if IE 6 ]> <html class="no-js ie6 ie6down"> <![endif]-->
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&amp;subset=cyrillic" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
<!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="ie9_down.css" />
<![endif]-->
<!--[if lt IE 9]>
    <script type="text/javascript" src="modernizr-custom.js"></script>
<![endif]-->
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_descr }}" >
</head>

<body>
    {% include 'header.twig' %}

    {% block content %}
    <article>
        <h1>{{ title }}</h1>
    </article>
    {% endblock %}

    {% block footer %}
    <a class="footer" href="index.html">{{ footer_note }}</a>
    {% endblock %}

    {% include 'disclaimer.twig' %}
<!--[if lt IE 9]>
    <script type="text/javascript" src="fixes.js"></script>
<![endif]-->

</body>
</html>