@import 'reset.css';

body {
    color: white;
    background: black;
    margin: 8px;
    /* font-size: 18px; */
    font-size: 1.125em; /* 18px */
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

article {
    margin-bottom: 3em;
}

/**** header - logo and nav *****/
header {
    overflow: hidden;
}

header a#header-logo {
    display: block;
    position: relative;
    left: 50%;
}

header a#header-logo img {
    padding-bottom: 0.833em;

    /* this results in parent's width, but clamped between 400 and 640 */
    width: 100%; 
    max-width: 640px;
    min-width: 400px; /* overflow starts below this */

    /* center the overflow, since the 100% is in reference to actual 
    width - i.e. after clamping by min-width and max-width */
    margin-left: -100%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    padding: 0 1em;
}

nav a {
    color: #FFB90F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

/* highlight current page */
nav a.current {
    color: #FF4500;
}

/* *************************************** */

a.footer {
    color: red;
    text-decoration: none;
    font-size: 0.9em;
}

article a {
    text-decoration: none;
    font-size: 1.36em;
    color: #FF4500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: #FDD017;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.85em;
    margin: 0.7em 0 1.4em;
}

h2 {
    color: #FFB90F;
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 2.3em;
}

img.bordered {
    border: solid 2px;
    border-color: inherit;
}

p {
    margin-top: 1.25em;
    margin-bottom: 1.1em;
    line-height: 117%;
}

/********* generic render styles *******/
/* one centered column of text */
.mono-column {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

/* flex containers */
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.4em;
}

/* flex items */
.flex-container > figure,
.flex-container > li
{
    max-width: 547px; /* defaults to images on missions pages - bc why not? */
    margin-bottom: 2em;
}

/****** contents of individual pages (tweaks) ********/
article#article-missions section figcaption {
    margin-top: 1.35em;
    margin-bottom: 4.6em; /* gap? */
}

article#article-missions section img {
    max-width: 547px; /* source images size */
    width: 100%; /* only scales DOWN from 547px */
}

/********************************* */

ul#cameras-list li {
    margin-bottom: 4em;
}

ul#cameras-list img.room {
    max-width: 100%;
    height: auto;
}

ul#cameras-list img.room.bordered {
    margin-left: -2px; /* compensate for border offset when downscaling */
}

section#fence img {
    max-width: 100%;
    height: auto;
}

/********************************** */

section#panel-messages {
    margin-top: 2em;
}

section#panel-messages h4 {
    font-size: 1.3em;
    margin-top: 0.8em;
}

section#panel-messages h4+p {
    margin-top: 0;
}

section#panel-messages li {
    margin-bottom: 2em;
}

div#weapons figure {
    min-width: 25%;
}

article#article-secrets li {
    min-width: 490px;
}

article#article-press section figure {
    max-width: 100%;
    overflow: hidden;
}
article#article-press section figure img {
    box-sizing: border-box;
    max-width: 100%;
}

article#article-history figure {
    margin-bottom: 3em;
}

article#article-history .image-description {
    font-style: italic;
    font-size: 0.9em;
}

article#article-music ul.flex-container {
    justify-content: center;
    margin-top: 0.5em;
}
article#article-music ul.flex-container li {
    min-width: 8em;
    padding: 0 1em;
    margin-bottom: unset;
}
iframe[name=mus_subpage] {
    margin: 0 auto;
    overflow: hidden;
}

#map-container {
    width: 90%;
    margin: 0 auto;
    overflow: scroll;
    max-height: 90vh;
}

#article-play a {
	font-size: 1em;
	text-decoration: underline;
	font-style: italic;
	font-family: Arial;
	color: lightskyblue;
}

/***** subpages ******/
body.subpage {
    display: block;
    text-align: inherit;
    overflow: hidden;
}
body.subpage audio {
    display: block;
    margin: 0 auto;
}
body.subpage img {
    display: block;
    margin: 0 auto;
    max-height: 476px;
    max-width: 600px;
}
body.subpage img.left {
    float: left;
    max-width: 400px;
    margin-right: 1em;
    height: auto;
}
div.player {
    height: 54px;
    overflow: visible;
}

/***** disclaimer *****/
div#disclaimer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 5em;
    height: 1em;
    width: 0.5em;
    overflow: hidden;

    text-align: left;
}

div#disclaimer div#corner {
    height: 1em;
    width: 0.5em;
    border-left: 0.5em solid gold;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    box-sizing: border-box;
    position: relative; /* makes z-index applicable to this */
}

div#disclaimer div#anchor {
    font-weight: bold;
    color: red;
    line-height: 2em;
    padding-left: 0.1em;
    font-size: 0.5em;

    /* putting this over #corner */
    position: relative;
    top: -2em;
}

div#disclaimer div#popup {
    visibility: hidden;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; /* put this under #corner */
    min-height: 1em;

    padding-left: 0.5em; /* give space to #corner */

    display: flex;
    align-items: center;
    background-color: rgba(36, 112, 141, 0.9);
}

div#disclaimer:hover div#popup {
    visibility: visible;
}

div#disclaimer-message {
    font-size: 0.2em;
    line-height: 1.5em;

    padding: 1em;

    color: gold;
    text-shadow: 1px 2px gray;
}

div#disclaimer-message a {
    text-shadow: none;
    color: navy;
    font-style: italic;
}
