@import 'reset.css';

body {
    color: white;
    background: black;
    margin: 8px;
    font-size: 18px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
}

header img {
    padding-bottom: 15px;
}

nav#topnav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#topnav ul li {
    padding: 0 1em;
}

nav a {
    color: #FFB90F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    text-decoration: none;
}

nav a.current {
    color: #FF4500;
}

a.footer {
    color: red;
    text-decoration: none;
    font-size: 0.9em;
}

article a {
    text-decoration: none;
    font-size: 1.36em;
    color: #FF4500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: #FDD017;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.85em;
    margin: 0.7em 0 1.4em;
}

h2 {
    color: #FFB90F;
    font-size: 1.3em;
    margin-bottom: 2em;
}
h3 {
    /* font-size: 1.35em; */
    margin-top: 2.3em;
}

img.bordered {
    border: solid 2px;
    border-color: inherit;
}

p {
    margin-top: 1.25em;
    margin-bottom: 1.1em;
    line-height: 117%;
}

/****** contents of individual pages ********/

/* flex containers */
.flex-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.4em;
}

/* flex items */
.flex-container > figure,
.flex-container > li,
section#fence div
{
    max-width: 550px;
    margin-bottom: 2em;
}

article#article-missions section figcaption
{
    margin-top: 1.35em;
    margin-bottom: 4.6em; /* gap? */
}

ul#cameras-list li {
    margin-bottom: 4em;
}

section#panel-messages {
    margin-top: 2em;
}

section#panel-messages h4 {
    font-size: 1.3em;
    margin-top: 0.8em;
}

section#panel-messages h4+p {
    margin-top: 0;
}

section#panel-messages li {
    margin-bottom: 2em;
}

div#weapons figure {
    min-width: 25%;
}